.content{
    border:none;
}

.content:focus{
    outline:none;
}

button {
    
    margin-top :5px;
    margin-right :5px;
    margin-bottom :5px;
    margin-left :5px;
}

input[type=checkbox]:checked + input{
  text-decoration: line-through;
  color : #999999;
  font-style:italic;
}
